@font-face {
  font-family: 'Fredericka the Great', cursive;
  src: url('../fonts/FrederickatheGreat-Regular.ttf') format('truetype');
  font-family: 'Permanent Marker', cursive;
  src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
}

li {
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 1px 1px 3px #666666
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

body {
  text-align: center;
  background-image: url('images/BG.jpg');
  background-size: cover;
}


h1 {
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 3px #666666;
}


p {
  font-family: 'Fredericka the Great', cursive;
  width: 800px;
  padding: 20px;
  margin: auto;
}

section {
    margin: 30px 0;
}
